<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDb0bzKAz9e6_cmGDVil1o9dTha6PO92MU</string>
	<key>GCM_SENDER_ID</key>
	<string>769611504395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ADA.FinancialApp1</string>
	<key>PROJECT_ID</key>
	<string>financialapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>financialapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769611504395:ios:12a96f4bd58f0bf514e00e</string>
</dict>
</plist>